<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
        />
        <title>{{title}}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-xl">
                <img class="header__img" src="/img/logo-inicio.png" alt="logo" />
                <a class="navbar-brand" href="#">Instituto de Implantología: Base de Datos</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/professors">Equipo Docente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/alumns">Área de Estudiantes</a>
                        </li>
                     
                        {{#if user}}{{else}}
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/register">Registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/login">Log-in</a>
                            </li>
                        {{/if}}

                    </ul>
                    <form class="header__links" action="/auth/logout" method="POST">
                        <button class="header__links" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>

        <main>
            <div class="py-4 text-uppercase">
                <h1 class="text-center">{{title}}</h1>
            </div>
            <div class="container-xl">
                <div class="row mx-auto">
                    {{#each courses}}
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card mx-auto">
                                <div class="card-header text-center d-flex align-items-center justify-content-center ">
                                    <h4 class="mx-3">Título:</h4>
                                    <h5>{{title}}</h5>
                                </div>
                                <img class="mx-auto py-4" style="width: 200px;" src="{{image}}" alt="">
                                <div class="card-body">

                                    <h4 class="courses-titles">Duración</h4>
                                    <p>{{duration}}</p>
                                    <h3 class="courses-titles">Profesores:</h3>
                                    <ol>
                                        {{#each professors}}
                                            <li>
                                                <a href="/professors/{{_id}}">{{name}}</a>
                                            </li>
                                        {{/each}}
                                    </ol>
                                    <h4 class="courses-titles">Próximas fechas:</h4>
                                    <ul>
                                        <li>{{nextDates.[0]}}</li>
                                        <li>{{nextDates.[1]}}</li>
                                        <li>{{nextDates.[2]}}</li>
                                    </ul>
                                    <h4 class="courses-titles">Ubicación:</h4>
                                    <p>{{location}}</p>
                                </div>
                                <div class="card-footer d-flex align-items-center justify-content-around">
                                    <a class="btn btn-secondary" href="/courses/delete/{{_id}}">Borrar</a>
                                    <a class="btn btn-secondary" href="/courses/edit/{{_id}}">Editar</a>
                                    
                                </div>

                            </div>

                        </div>
                    {{/each}}
                    <a class="btn btn-secondary my-3" href="/courses/createcourses">Crear Nuevo Curso</a>

                </div>
            </div>
        </main>

    </body>
</html>