<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
        />
        <title>{{title}}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-xl">
                <img class="header__img" src="/img/logo-inicio.png" alt="logo" />
                <a class="navbar-brand" href="#">Instituto de Implantología: Base de Datos</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/professors">Equipo Docente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/alumns">Área de Estudiantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/courses">Cursos</a>
                        </li>
                        {{#if user}}{{else}}
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/register">Registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/login">Log-in</a>
                            </li>
                        {{/if}}

                    </ul>
                    <form class="header__links" action="/auth/logout" method="POST">
                        <button class="header__links" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>

        <main class="container-xl">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="card my-4">
                        <div class="card-header">
                            <h1 class="text-center">Área de registro nuevos Docentes:</h1>
                        </div>
                        <div class="card-body">
                            <form action="/professors/createprofessors" method="POST" enctype="multipart/form-data">
                                <div>
                                    <label class="form-label">Imagen:</label>
                                    <input class="form-control" type="file" name="image" />
                                </div>
                                <div>
                                    <label class="form-label">Nombre:</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="name"
                                        placeholder="nombre y apellidos"
                                        required
                                    />
                                </div>
                                <div>
                                    <label class="form-label">Año de titulación:</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="graduationYear"
                                        placeholder="escribe aquí la fecha (dd/mm/aa)"
                                        required
                                    />
                                </div>
                                <div>
                                    <label class="form-label">Título Universitario: </label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="title"
                                        placeholder="Menciona tu titulación oficial.."
                                        required
                                    />
                                </div>
                                <div>
                                    <label class="form-label">Últimos Estudios(formación y cursos):</label>
                                    <textarea
                                        class="form-control"
                                        type="text"
                                        name="lastStudies"
                                        placeholder="especifica tu última formación académica"
                                        required
                                        cols="30"
                                        rows="10"
                                    ></textarea>
                                </div>
                                <div class="d-flex justify-content-center my-4">
                                    <button class="btn btn-secondary" type="submit">Regístrate Ahora</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    {{! -------------------fin de  }}
                </div>
            </div>

        </main>

    </body>
</html>