<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
        />
        <title>Editar Curso: {{course.title}}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-xl">
                <img class="header__img" src="/img/logo-inicio.png" alt="logo" />
                <a class="navbar-brand" href="#">Instituto de Implantología: Base de Datos</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/professors">Equipo Docente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/alumns">Área de Estudiantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/courses">Cursos</a>
                        </li>
                        {{#if user}}{{else}}
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/register">Registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/login">Log-in</a>
                            </li>
                        {{/if}}

                    </ul>
                    <form class="header__links" action="/auth/logout" method="POST">
                        <button class="header__links" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row mx-auto">
                {{#if course}}
                    <div class="col-6 mx-auto">
                        <div class="card my-4">
                            <div class="card-header text-center">
                                <h1>{{course.title}}</h1>
                            </div>

                            <div class="card-body">
                                <form action="/courses/edit/{{course._id}}" method="POST" enctype="multipart/form-data">

                                    <fieldset>
                                        <label class="form-label">Fotografía:</label>
                                        <input class="form-control" type="file" name="image"/>
                                    </fieldset>
                                    <fieldset>
                                        <label class="form-label">Título del curso:</label>
                                        <input class="form-control" type="text" name="title" value="{{course.title}}" />
                                    </fieldset>
                                    <fieldset>
                                        <label class="form-label">Duración del curso:</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            name="duration"
                                            value="{{course.duration}}"
                                        />
                                    </fieldset>
                                  
                                    <fieldset>
                                       
                                        <label for="">Profesor</label>
                                        <select name="professors" id="">
                                            {{#each professors}}
                                            <option value="{{_id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                        {{!-- <label class="form-label">Profesor 2</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            name="professors"
                                            value="{{course.professors.[1]}}"
                                        />
                                        <div id="emailHelp" class="form-text text-end">Pega aquí el Id del profesor #2 a vincular como dictante del curso</div> --}}
                                       
                                    </fieldset>
                        
                                    <fieldset>
                                        <label class="form-label">Ubicación:</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            name="location"
                                            value="{{course.location}}"
                                        />
                                    </fieldset>
                                    
                                    <fieldset>
                                        <label class="form-label">Próximas fechas:</label>
                                      {{#each course.nextDates}}  
                                        <label class="form-label" > Fecha {{@index}}</label>
                                        <input class="form-control" name="nextDates" type="text" value="{{this}}"></input>
                                    {{/each}}

                                    
                                    </fieldset>
                                    <input
                                        class="btn btn-secondary my-3 btn-block"
                                        type="submit"
                                        value="Enviar Cambios"
                                    />

                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="col-6 mx-auto">
                        <div class="card my-4">            
                            <div class="card-header text-center">
                                <h1>Lista de Id Docentes:</h1>
                            </div>
                                {{#each professors}}
                            <div class="card-body d-flex justify-content-evenly">
                                
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p>Nombre docente: {{name}}</p>
                                  
                                    </li>
                                    <li class="list-group-item">
                                        <p>id: {{_id}} </p> 
                                    </li>
                                    
                                </ul>
                                <img src="{{image}}" alt="" style="width: 50px;object-fit:cover;">
                            </div>
                            
                            {{/each}}
                        </div>
                    </div>
                {{else}}
                {{/if}}
            </div>
        </div>

    </body>
</html>