<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=+, initial-scale=1.0" />
        <title>{{title}}</title>
    </head>
    <body>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <link rel="stylesheet" href="/css/styles.css" />
                <link
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
                    rel="stylesheet"
                    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
                    crossorigin="anonymous"
                />
                <title>Detalle CV: {{professor.name}}</title>
            </head>
            <body>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-xl">
                        <img class="header__img" src="/img/logo-inicio.png" alt="logo" />
                        <a class="navbar-brand" href="#">Instituto de Implantología: Base de Datos</a>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNav"
                            aria-controls="navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/professors">Equipo Docente</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/alumns">Área de Estudiantes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/courses">Cursos</a>
                                </li>
                                {{#if user}}{{else}}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/auth/register">Registro</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/auth/login">Log-in</a>
                                    </li>
                                {{/if}}

                            </ul>
                            <form class="header__links" action="/auth/logout" method="POST">
                                <button class="header__links" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </nav>

                <div class="container">
                    <div class="row mx-auto">
                        {{#if professor}}
                            <div class="col-6 mx-auto">
                                <div class="card my-4">
                                    <div class="card-header text-center">
                                        <h1>{{professor.name}}</h1>
                                    </div>

                                    <div class="card-body">
                                        <form
                                            class="flex-column d-flex"
                                            action="/professors/edit/{{professor._id}}"
                                            method="POST"
                                            enctype="multipart/form-data"
                                        >

                                            <fieldset>
                                                <label class="form-label mt-2 fw-bold">Actualizar foto de perfil:</label>
                                                <input
                                                    class="form-control"
                                                    type="file"
                                                    name="image"
                                                    value="{{professor.image}}"
                                                />
                                            </fieldset>
                                            <fieldset>
                                                <label class="form-label mt-2 fw-bold">Nombre completo:</label>
                                                <input
                                                    class="form-control"
                                                    type="text"
                                                    name="name"
                                                    value="{{professor.name}}"
                                                />
                                            </fieldset>
                                            <fieldset>
                                                <label class="form-label mt-2 fw-bold">Año de graduación:</label>
                                                <input
                                                    class="form-control"
                                                    type="text"
                                                    name="graduationYear"
                                                    value="{{professor.graduationYear}}"
                                                />
                                            </fieldset>
                                            <fieldset>
                                                <label class="form-label mt-2 fw-bold">Titulación Universitaria:</label>
                                                <input
                                                    class="form-control"
                                                    type="text"
                                                    name="title"
                                                    value="{{professor.title}}"
                                                />
                                            </fieldset>
                                            {{#each professor.lastStudies}}
                                                <fieldset>
                                                    <label class="form-label fw-bold mt-2 mt-3">Últimos
                                                        Estudios(introduce tus tres últimos estudios certificados o
                                                        cursos):</label>
                                                    <div>
                                                        <label class="form-label">Formación {{@index}}:</label>
                                                        <textarea
                                                            class="form-control"
                                                            name="lastStudies"
                                                            cols="30"
                                                            rows="5"
                                                        >{{this}}</textarea>
                                                    </div>

                                                    <div id="emailHelp" class="form-text text-end">Escribe los detalles
                                                        de tu formación.</div>

                                                </fieldset>
                                            {{/each}}
                                            {{!-- <fieldset>

                                                    <div>
                                                        <label class="form-label">Formación 2:</label>
                                                        <textarea
                                                            class="form-control"
                                                            name="lastStudies"
                                                            cols="30"
                                                            rows="5"
                                                        >{{}}</textarea>
                                                    </div>

                                                    <div id="emailHelp" class="form-text text-end">Escribe los detalles
                                                        de tu formación 2.</div>

                                                </fieldset>
                                                <fieldset>

                                                    <div>
                                                        <label class="form-label">Formación 3:</label>
                                                        <textarea
                                                            class="form-control"
                                                            name="lastStudies"
                                                            cols="30"
                                                            rows="5"
                                                        >{{professor.lastStudies.2}}</textarea>
                                                    </div>

                                                    <div id="emailHelp" class="form-text text-end">Escribe los detalles
                                                        de tu formación 3.</div>
                                                </fieldset> --}}

                                            <button class="btn btn-secondary btn-block" type="submit">Actualizar CV</button>

                                        </form>
                                    </div>

                                </div>

                            </div>
                        {{else}}
                        {{/if}}
                    </div>
                </div>

            </body>
        </html>
    </body>
</html>