<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
        />
        <title>Editar: {{alumn.name}}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-xl">
                <img class="header__img" src="/img/logo-inicio.png" alt="logo" />
                <a class="navbar-brand" href="#">Instituto de Implantología: Base de Datos</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/professors">Equipo Docente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/alumns">Área de Estudiantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/courses">Cursos</a>
                        </li>
                        {{#if user}}{{else}}
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/register">Registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/login">Log-in</a>
                            </li>
                        {{/if}}

                    </ul>
                    <form class="header__links" action="/auth/logout" method="POST">
                        <button class="header__links" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>

        <section class="container-xl">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="card my-4">
                        <form action="/alumns/edit/{{alumn._id}}" method="POST" enctype="multipart/form-data">
                            <div class="card-header text-center">

                                <h2>Editar datos:</h2>
                                <h3> {{alumn.name}} {{alumn.lastName}}</h3>

                            </div>
                            <div class="card-body">
                                <fieldset>
                                    <label class="form-label">Fotografía de perfil:</label>
                                    <input class="form-control" type="file" name="image" />
                                </fieldset>
                                <fieldset>
                                    <label class="form-label">Nombres:</label>
                                    <input class="form-control" type="text" name="name" value="{{alumn.name}}" />
                                </fieldset>
                                <fieldset>
                                    <label class="form-label">Apellidos:</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="lastName"
                                        value="{{alumn.lastName}}"
                                    />
                                </fieldset>
                                <fieldset>
                                    <label class="form-label">Email:</label>
                                    <input class="form-control" type="email" name="email" value="{{alumn.email}}" />
                                </fieldset>
                                <fieldset>
                                    <label class="form-label">DNI:</label>
                                    <input class="form-control" type="text" name="dni" value="{{alumn.dni}}" />
                                </fieldset>
                                <fieldset>
                                    <label class="form-label">Número de contacto:</label>
                                    <input class="form-control" type="phone" name="phone" value="{{alumn.phone}}" />
                                </fieldset>

                                <input class="btn btn-secondary my-3 " type="submit" value="Enviar Cambios" />

                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </section>
    </body>
</html>