<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
        />
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-xl">
                <img class="header__img" src="/img/logo-inicio.png" alt="logo" />
                <a class="navbar-brand" href="#">Instituto de Implantología: Base de Datos</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/professors">Equipo Docente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/alumns">Área de Estudiantes</a>
                        </li>
                     
                        {{#if user}}{{else}}
                      
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/login">Log-in</a>
                            </li>
                        {{/if}}

                    </ul>
                    <form class="header__links" action="/auth/logout" method="POST">
                        <button class="header__links" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card mt-4">
                    <div class="card-header">
                        <h1>Formulario de Registro</h1>
                    </div>
                    <div class="card-body">
                        <form class="flex-column d-flex" action="/auth/register" method="POST">
                            <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input
                                    class="form-control"
                                    name="name"
                                    type="text"
                                    required
                                    placeholder="Nombre completo"
                                />
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Apellidos</label>
                                <input
                                    class="form-control"
                                    name="lastName"
                                    type="text"
                                    required
                                    placeholder="Apellidos"
                                />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Correo electrónico</label>
                                <input class="form-control" name="email" type="email" required placeholder="email" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nombre de usuario</label>
                                <input
                                    class="form-control"
                                    name="username"
                                    type="text"
                                    required
                                    placeholder="Nombre de usuario"
                                />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Contraseña</label>
                                <input
                                    class="form-control"
                                    name="password"
                                    type="password"
                                    required
                                    placeholder="Mínimo 8 caracteres 1 mayúscula y 1 número"
                                />
                            </div>
                            <button class="btn btn-secondary btn-block my-4" type="submit">Enviar</button>
                            {{#if error}}
                                <p style="color: red;">{{error}} </p>
                            {{/if}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>